.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;

}
.card.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card.horizontal .card-image {
    max-width: 40%;
	width: 40%;
}
.card .card-image {
    position: relative;
	background-size: cover;
}
.card.horizontal .card-image img {
    max-width: 100%;
    width: auto;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}
.card.horizontal .card-stacked {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.card.horizontal .card-stacked .card-content {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}
.card .card-content .card-title {
    line-height: 26px;
	height: 40px;
    overflow: auto;
}
.card .card-title {
	  font-weight: bold;
    font-size: 19px;
    font-weight: 300;
}
.card .card-content p {
    margin: 0;
    color: inherit;
	height: 50px;
    overflow: auto;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 2px;
}