html, body {
    height: 100%;
}
.cyan {
    background-color: #00bcd4 !important;
    //background-image:url(images/b3.png);
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #dc2723;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 2001;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffffff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #dc2723;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    background-image:url(images/b10.png);
    z-index: 2000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645,0.045,0.355,1);
    transition: all .7s .3s cubic-bezier(0.645,0.045,0.355,1);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645,0.045,0.355,1);
    transition: all .7s .3s cubic-bezier(0.645,0.045,0.355,1);
}
.navbar-fixed-top {
    border-color: #ff0000;
    border-width: 0 0 4px;
}
.nav-sidebar > li > a {
    color:#ffffff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f00;
}
.nav>li>a.active, .nav>li>a.active {
    text-decoration: none;
    background-color: #f00;
}
.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
	font-size: 30px;
	color: white;
}
.sub-header {
    padding: 5px;
    background: #000;
    margin: 0 0 20px;
    font-size: 20px;
    color: red;
}

.sub-mini-header {
    padding: 4px;
    border-bottom: 2px solid black;
    margin: 0 0 20px;
	font-size: 18px;
	color: white;
}

.main {
    padding: 20px;
}
fieldset{
  border:0;
}
.table > tbody > tr > td {
     vertical-align: middle;
     padding: 15px;
     width: auto;
    color: #717171;

}
.table > tbody > tr > td p {
    margin: 0 0 0;
}
.table > tbody > tr > td.iconbox {
         width: 6px;
    font-size: 24px;
     padding-right: 0px; 

}
.nomargin{
	margin:0;
}
.tabledata .table-hover{
	background: #e0e0e0;
	padding: 10px;
}
.timeseek{
	text-align: right;
    position: fixed;
    width: 42%;
    right: 0;
    top: 75px;
    z-index: 1036;
    color: #fff;
    background: red;
}
.heading{
	font-size: 24px;
	float:right;
	margin-top: 8px;
}
.container ul.radioul{
	float:right;
	overflow:hidden;
}
.no-padding{
	padding: 0;
    background: #a4b0e8;
    border: 1px solid #fff;
}
.no-padding :hover{
    background: #222222;
    color: #fff;
}












.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
}



.rightalign{
	text-align:right;
}
.submitbtnBox{
	margin:20px 0;
}
.submitBox{
    padding: 10px 70px;
	background-color: #222222;
    border-color: #122b40;
}
.inputbox{
    background: #222222;
    color: #fff;
    padding: 15px 0;
    float: left;
    width: 100%;
}
.form-control.nameandsign{
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    border-radius: 0;
}
.form-control:focus {
    border-color: ;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
	 border-bottom: 3px solid #00bcd4;
}
.alertify-notifier .ajs-message.ajs-error {
    background: rgba(255, 0, 0, 0.95);
}
.alertify-notifier.ajs-right .ajs-message.ajs-visible {
    right: 290px;
    color: #fff;
}









@media (min-width: 768px){
.sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222222;
    border-right: 4px solid #f00;
}
.lg-hidden{
	display:none;
}
.navbar-header{
	height:75px;
}
.mainlogo{
	width:200px;
}
.contentbox{
	margin-top:75px;
}
.main {
    padding-right: 40px;
    padding-left: 40px;
}
.col-sm-6.placeholder {
    width: 100%;
}
}
@media (min-width: 992px){
.col-sm-6.placeholder {
    width: 50%;
}
}
	
@media (max-width: 768px){
.sidebar {
    display: none;
}
.navbar-header{
	height:65px;
}
.mainlogo{
	width:170px;
}
.contentbox{
	margin-top:65px;
}
.heading {
    font-size: 15px;
    float: right;
    margin-top: 15px;
}


}


@keyframes spin {
    100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}